*{
  padding: 0;
  margin: 0;
}

.HeaderDivContRight {
  font-size: 27px;
  display: inline;
  float: right;
  margin-right: 5%;
  margin-top: 15px;
  text-align: center;
  line-height: 15px;
}

.HeaderDivContLeft {
  font-size: 25px;
  display: inline;
  float: left;
  margin-left: 3%;
  margin-top: 15px;
  text-align: center;
  line-height: 15px;
}

.footerDivContRight {
  font-size: 20px;
  display: inline;
  float: right;
  margin-right: 5%;
  margin-top: 15px;
  text-align: right;
  line-height: 15px;
}

.footerDivContLeft {
  font-size: 20px;
  display: inline;
  float: left;
  margin-left: 3%;
  margin-top: 15px;
  text-align: left;
  line-height: 15px;
}

header {
  margin: 0 0;
  background-color: rgb(69, 140, 106);
  width: 100%; 
  height: 50px;
  position: -webkit-sticky; 
  z-index: 10000;
  position: sticky; 
  top: 0; 
  transition: 1s;
}

.contLeft {
  font-size: large;
  display: inline;
  float: left;
  margin-left: 3%;
  margin-top: 15px;
  text-align: center;
  line-height: 30px;
  font-size: 30px;
  width: 45%;
}

footer {
  margin-top: -1;
  background-color: rgb(69, 140, 106);
  width: 100%; 
  height: 200px;
  top: 0; 
  transition: 1s;
}


.slider {
  width: 1000px;
  height: 800px;
  margin:auto;
  margin-top: 150px;
  text-align:center;
  z-index:0;
}
  
.viewport {
  position: relative;
  z-index:0;
  width: 1000px;
  height: 500px;
  overflow: hidden;
}
  
.slides {
  position: absolute;
  left: 0;
  width: 3000px;
  margin:auto;
  z-index:0;
  transition: 0.9s ease all;
  
}
  
.slide-type {
  width: 1000px;
  height: 500px;
  float: left;
  z-index:0;  
  color:white;
  font-size:28px;
  border-radius: 5%;
  background-color: rgb(121, 176, 149);
  background-size:cover;
  z-index:0; 
  display: flex;
}

.slide-cont{
  display: flex;
}

.slider-img {
  height: 85%;
  margin-top: 5%;
  border-radius: 3%;
}

.slider-btn {
  height: 65px;
  width: 300px;
  border-radius: 40px;
  background-color: rgb(250, 98, 81);
}

.textUnderSlider {
  font-size: 25px;
  text-align: center;
  width: 100%;
}

.btn {
  width: 200px;
  height:10px;
  border-radius:20px;
  padding:20px 10px;
  background-color: rgb(121, 176, 149);
  color: #fff;
  font-family: Verdana;
  text-align: center;
  margin-bottom:20px;
  left:8px;
}

.btn:hover .submenu {
    display:block;
}

.submenu {
  list-style-type:none;
  margin: 0;
  padding: 0;
  display:none;
  font-family: Verdana;
}

.submenu > li {
    position: fixed;
    left:8px;
    
  display: block;
  width: 200px;
  padding:20px 10px;
  background-color: #bbb;
  text-align: center;
}
.q1 {
    margin-top:15px;
    position: fixed;
    
}
.q2 {
    margin-top:70px;
    position: fixed;
    
}
.q3 {
   margin-top:120px;
    position: fixed;
    
}

.q1:hover {
    background-color: rgb(121, 176, 149);
}
.q2:hover {
    background-color: rgb(121, 176, 149);
}
.q3:hover {
    background-color: rgb(121, 176, 149);
}