*{
  padding: 0;
  margin: 0;
}

.HeaderDivContRight {
  font-size: large;
  display: inline;
  float: right;
  margin-right: 5%;
  margin-top: 15px;
  text-align: center;
  line-height: 15px;
}

.HeaderDivContLeft {
  font-size: large;
  display: inline;
  float: left;
  margin-left: 3%;
  margin-top: 15px;
  text-align: center;
  line-height: 15px;
}

header {
  margin: 0 0;
  background-color: rgb(124, 149, 198);
  width: 100%; 
  height: 50px;
  position: -webkit-sticky; 
  position: sticky; 
  top: 0; 
  transition: 1s;
}

footer {
  margin-top: -1;
  background-color: rgb(124, 146, 189);
  width: 100%; 
  height: 100px;
  top: 0; 
  transition: 1s;
}
